
__pycache__/profile_analysis_class.cpython-38.pyc

profile_analysis_class_TEST.ipynb

example/data_fitting_2/

example/figures/

example/output/

example/random_data_fitting_3/

example/sample_by_section_1/

notebooks/paper_analysis/.ipynb_checkpoints/

lib/__pycache__/

notebooks/example/.ipynb_checkpoints/
